#htmlbody {
    background-image: linear-gradient(314deg, rgb(20, 222, 124) 0%, rgb(20, 222, 124) 21%,rgb(25, 190, 119) 21%, rgb(25, 190, 119) 37%,rgb(30, 158, 113) 37%, rgb(30, 158, 113) 46%,rgb(35, 126, 108) 46%, rgb(35, 126, 108) 53%,rgb(39, 94, 103) 53%, rgb(39, 94, 103) 59%,rgb(44, 62, 97) 59%, rgb(44, 62, 97) 77%,rgb(49, 30, 92) 77%, rgb(49, 30, 92) 100%);
    scroll-behavior: smooth;
}
  
.iaaa {

    color: black;
    font-style: italic;
    background: yellow;
}
  
.iaaa:hover {
    color: blue;
}
  
.bhw {
    text-decoration: none;
    font-size: 15.0px;
    font-weight: normal;
    margin: 2.5px;
    border-color: #ffea29;
    color: #ffea29;
    padding: 14.0px 28.0px;
    background-color: black;
    border-radius: 7.0px;
    cursor: auto;
}
  
.bhw:hover {
    text-decoration: none;
    font-size: 15.0px;
    font-weight: bolder;
    margin: 5.0px;
    border-color: #ffea29;
    color: black;
    padding: 14.0px 28.0px;
    background-color: #ffea29;
    border-radius: 0.0px;
    cursor: pointer;
}

.ctwius {
    color: red;
    background: black;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

.ctwius:hover {
    color: black;
    background: red;
    font-size: larger;
    font-weight: lighter;
    font-style: normal;
}

.bh {
  color: brown;
  font-weight: bold;
}

.bh:hover {
  color: blueviolet;
  font-weight: normal;
}

.maincont {
    background: lightblue;
}

.maincont:hover {
    background: dodgerblue;
}

.ooc {
    color: black;
    font-weight: bold;
}

.footerhtml {
    color: white;
    background-color: black;
}
